.landing-page {
    #hero-btns {
       
        .btn {
            transition: opacity 0.3s ease;
        }
        #btn1{
            background-color: rgb(35, 217, 41);
        }
        #btn1:hover {
            opacity: 0.9;
            background-color: rgb(171, 251, 174);
        }
        #btn2:hover {
            opacity: 1;
        }
    }
      #cta-section{
      #cta-bkg{
        background: linear-gradient(to right, #46e5c5, #8D5BFF);        
      }
    }
}

#chatbot{

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(107, 114, 128, 0.5); /* Tailwind's gray-500 */
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
}